.filter-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px 0 16px;
  background-color: #fff;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  visibility: hidden;
  position: relative;
  bottom: 38px;
  width: 100%;
}
.filter-bar.visible {
  visibility: visible;
}
.filter-bar .tags {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.filter-bar .tags button {
  padding: 0 0 0 7px;
  font-size: 12px;
  font-weight: 700;
  display: flex;
  font-family: "Spartan", sans-serif;
  justify-content: space-between;
  height: 32px;
  align-items: center;
  color: var(--desaturated-dark-cyan);
  border-radius: 4px;
  background-color: var(--light-gray-cyan-1);
  margin: 16px 16px 0 0;
}
.filter-bar .tags button:nth-child(odd) {
  margin-top: 16px;
}
.filter-bar .tags button:last-child {
  margin-bottom: 16px;
}
.filter-bar .tags button::after {
  content: "";
  height: 100%;
  display: inline-block;
  width: 32px;
  border-bottom-right-radius: 4px;
  background-image: url(../images/icon-remove.svg);
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 10px;
  background-size: 15px;
  border-top-right-radius: 4px;
  background-color: var(--desaturated-dark-cyan);
}
.filter-bar .tags button:hover::after {
  background-color: var(--dark-gray-cyan-2);
}
.filter-bar .clear-btn {
  background-color: transparent;
  font-weight: 700;
  font-family: "Spartan", sans-serif;
  color: #848d8a;
}
.filter-bar .clear-btn:hover {
  color: var(--desaturated-dark-cyan);
  text-decoration: underline;
}
@media screen and (min-width: 1120px) {
  .filter-bar {
    padding: 20px 40px;
  }
  .filter-bar .tags button,
  .filter-bar .tags button:nth-child(odd) {
    margin-bottom: 0;
    margin-top: 0;
  }
  .filter-bar .tags button:last-child {
    margin-bottom: 0;
  }
}
